.container .reklama {
    width: 100%;
    font-family: Roboto;
    padding-bottom: 90px;
}

.container .reklama  h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    padding: 60px 0;
}
.container .reklama .reklama-slider {
    width: 100%;
    display: flex;justify-content: space-between;align-items: center;
}
.container .reklama .reklama-slider .prev .icon, .next .icon {
    width: 50px;height: 50px;
    cursor: pointer;
    margin: 0 20px;
}
.container .reklama .reklama-slider .reklama-parent {
    width: 100%;
    height: 100%;
}
.container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-1 {
    display: none;
}
.container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-3 {
    display: flex;align-items: center;justify-content: space-between;
}
.container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-3 .reklama-box{
    width: 23%;
}
.container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box {
    width: 25%;
    transition: all 0.5s ease-in-out;
}
.container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box-parent {
    transition: all 0.5s ease-in-out;

}
.container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box img {
    width: 100%;
}
.container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-2 {
    display: none;
}

.next, .prev {
    display: none;
}


@media screen and (min-width: 320px ) and (max-width: 567px ){
    .container .reklama  h1 {
        font-size: 30px;
        line-height: 27px;
    }
    .container .reklama .reklama-slider {
        width: 100%;
        display: flex;justify-content: space-between;align-items: center;
    }

    /* SLIDER  */
    .container .reklama .reklama-slider .reklama-parent {
        width: 100%;
        height: 200px;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card {
        /* display: block; */
        height: 100%;width: 100%;
        display: flex;align-items: center;
        padding: 20px;
        overflow: hidden;
        position: relative;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-1{
        display: block;
        display: flex;align-items: center;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box{
        position: absolute;
        top: 0;left: 0;
        width:100%;
        height: 100%;
        text-align: center;
        opacity: 0;

    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box img {
        width: 95%;
        height: auto;
        margin: 10px;
    }
    
    .container .reklama .reklama-slider .reklama-parent .reklama-card  .reklama-box.activeSlide {
        opacity: 1;
        transform: translateX(0);
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box.lastSlide {
        transform: translateX(-100%);
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box.nextSlide {
        transform: translateX(100%);
    }
    
    /* SLIDET END */
    
    
    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-3 {
        display: none;
    }

    .next, .prev {
        display: inline-block;
    }

    .container .reklama .reklama-slider .prev .icon, .next .icon {
        width:50px;height: 50px;
        cursor: pointer;
        margin: 0 0px;
    }
    .container .reklama .reklama-slider .next .icon {
        text-align: right;
    }

}

@media screen and (min-width: 567px ) and (max-width: 920px ){
    .container .reklama  h1 {
        font-size: 48px;
        line-height: 36px;
        font-weight: 400;
    }
    .container .reklama .reklama-parent {
        width: 100%;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card {
        height: 100%;width: 100%;
        display: flex;justify-content: space-between;align-items: center;
        padding: 20px;
        overflow: hidden;
        position: relative;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box-parent{
        position: absolute;
        top: 0;left: 0;
        width:100%;
        height: 100%;
        text-align: center;
        opacity: 0;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box img {
        width: 95%;
        height: 100%;
    }

    .container .reklama .reklama-slider .reklama-parent .reklama-card  .reklama-box-parent.activeSlide {
        opacity: 1;
        transform: translateX(0);
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box-parent.lastSlide {
        transform: translateX(-50%);
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card .reklama-box-parent.nextSlide {
        transform: translateX(50%);
    }

    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-1 {
        display: none;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-3 {
        display: none;
    }


    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-2 {
        display: block;
        height: 200px;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-2 .reklama-box-parent {
        display: flex;align-items: center;
        padding: 25px;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-2 .reklama-box-parent .reklama-box{
        width: 50%;
    }
    .container .reklama .reklama-slider .reklama-parent .reklama-card.reklama-card-2 .reklama-box-parent .reklama-box img{
        height: auto;
        margin: 10px;
    }

    .next, .prev {
        display: inline-block;
    }

    .container .reklama .reklama-slider .prev .icon:hover, .next .icon:hover {
        background: #DDA046 ;
        border-radius: 50%;
    }
}